<div class="logo-container"><img src="./assets/images/logo.png" class="logo"></div>
<h1 id="title" class="title">هیچ</h1>
<p class="sub-title">با شماره موبایل خود وارد شوید.</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>اوه!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>هوراا!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-phone">شماره موبایل:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.username"
           #phone="ngModel"
           name="phone"
           id="input-phone"
           placeholder="شماره موبایل"
           autofocus
           required
           [status]="phone.touched ? (phone.invalid  ? 'danger' : 'success') : ''"
           [attr.aria-invalid]="phone.invalid && phone.touched ? true : null">
    <ng-container *ngIf="phone.invalid && phone.touched">
      <p class="error-message" *ngIf="phone.errors?.required">
        شماره موبایل نمیتواند خالی بماند.
      </p>
      <p class="error-message" *ngIf="phone.errors?.pattern">
        شماره موبایل را درست وارد نمایید.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">رمز عبور:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.password"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           placeholder="رمز عبور"
           required
           [status]="password.touched ? (password.invalid  ? 'danger' : 'success') : ''"
           [minlength]="getConfigValue('forms.validation.password.minLength')"
           [maxlength]="getConfigValue('forms.validation.password.maxLength')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        رمز عبور نمیتواند خالی بماند.
      </p>
        <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        حداقل طول رمز عبور باید 8 کاراکتر باشد.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">به خاطر بسپار</nb-checkbox>
    <a class="forgot-password" routerLink="../request-password">فراموشی رمز عبور؟</a>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    ورود
  </button>
</form>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
    </ng-container>
  </div>
</section>

<!--<section class="another-action" aria-label="Register">-->
  <!--Don't have an account? <a class="text-link" routerLink="../register">Register</a>-->
<!--</section>-->
