.round-add-button-icon{
  font-size: xx-large;
}

.round-add-button{
  width: 60px !important;
  height: 60px !important;
  border-radius: 50px;
  border-color: white;
  position: absolute;
  left: 50px;
  bottom: 50px;
  padding: 0;
}
