<div *ngIf='listStatus === LIST_LOADED'>

  <nb-card >
    <nb-card-header>لیست دانش‌آموزان</nb-card-header>
    <nb-list>
      <nb-list-item *ngFor='let object of list; let i = index'>
        <ngx-student-list-item (ban)="banStudent(object)"
                     (activate)="activateStudent(object)"
                [student]='object'>
        </ngx-student-list-item>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>

<nb-card *ngIf='listStatus === LIST_LOADING' [nbSpinner]="true" nbSpinnerStatus="success" nbSpinnerSize="xxlarge">
  <nb-card-body>
    لطفا تا دریافت لیست شکیبا باشید.
  </nb-card-body>
</nb-card>

<nb-card *ngIf='listStatus === LIST_ERROR'>
  <nb-card-header><p align="center" class="message-paragraph error-message">خطا در دریافت لیست! <br> لطفا صفحه را رفرش کنید.</p></nb-card-header>
</nb-card>

<nb-card *ngIf='listStatus === LIST_EMPTY'>
  <nb-card-header><p align="center" class="message-paragraph">هیچ دانش‌آموزی وجود ندارد.</p></nb-card-header>
</nb-card>


